In [40]:
from dotenv import load_dotenv
import os, pandas as pd
import requests
import logging
load_dotenv()
api_key = '441cc11115703944207561d5e14c8a76'

import re

links = pd.read_csv("data/ml-32m/links.csv")
def get_tmdbId (links_df , movieId):
    id = links_df[links_df['movieId']==movieId]['tmdbId']
    return int(id.iloc[0])

movies = pd.read_csv("data/ml-32m/movies.csv")

In [19]:
print(api_key)

441cc11115703944207561d5e14c8a76

In [39]:
for t in movies["movieId"].head(10):
    url = f"https://api.themoviedb.org/3/movie/{get_tmdbId(links,t)}"
    params = {"api_key": api_key}
    res = requests.get(url, params=params).json()
    q = res.get("poster_path")
    print (f"https://image.tmdb.org/t/p/w500{q}" if q else None)

https://image.tmdb.org/t/p/w500/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
https://image.tmdb.org/t/p/w500/iWV47r6kFneCiApgrMII5HSkfHw.jpg
https://image.tmdb.org/t/p/w500/1FSXpj5e8l4KH6nVFO5SPUeraOt.jpg
https://image.tmdb.org/t/p/w500/qJU6rfil5xLVb5HpJsmmfeSK254.jpg
https://image.tmdb.org/t/p/w500/rj4LBtwQ0uGrpBnCELr716Qo3mw.jpg
https://image.tmdb.org/t/p/w500/umSVjVdbVwtx5ryCA2QXL44Durm.jpg
https://image.tmdb.org/t/p/w500/i8PbLJDPU7vCwwscWD625oHbJy.jpg
https://image.tmdb.org/t/p/w500/bMY31ikEOIPOHqQwhPhII8UVBln.jpg
https://image.tmdb.org/t/p/w500/1pylO6YX5XdOA6QCc5IRxrrffkg.jpg
https://image.tmdb.org/t/p/w500/z0ljRnNxIO7CRBhLEO0DvLgAFPR.jpg

In [27]:
movies[["movieId",'title']].head(10)

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)
5        6                         Heat (1995)
6        7                      Sabrina (1995)
7        8                 Tom and Huck (1995)
8        9                 Sudden Death (1995)
9       10                    GoldenEye (1995)

In [28]:
links

       movieId    imdbId     tmdbId
0            1    114709      862.0
1            2    113497     8844.0
2            3    113228    15602.0
3            4    114885    31357.0
4            5    113041    11862.0
...        ...       ...        ...
87580   292731  26812510  1032473.0
87581   292737  14907358   986674.0
87582   292753  12388280   948139.0
87583   292755     64027   182776.0
87584   292757  28995566  1174725.0

[87585 rows x 3 columns]

In [38]:
url = f"https://api.themoviedb.org/3/movie/{get_tmdbId(links,1)}"
params = {"api_key": api_key}
res = requests.get(url, params=params).json()
q = res.get("poster_path")
print (f"https://image.tmdb.org/t/p/w500{q}" if q else None)

https://image.tmdb.org/t/p/w500/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg

0    862.0
Name: tmdbId, dtype: float64