## Loading the dataset

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('../data/ml-32m/movies.csv')
ratings = pd.read_csv('../data/ml-32m/ratings.csv')
tags = pd.read_csv('../data/ml-32m/tags.csv')

In [3]:
merged = pd.merge(movies , ratings , on = 'movieId')
merged.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,2.5,1169265231
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,3.0,850085076
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.0,1027305751
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,974704488
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,20,5.0,1553184230

In [8]:
pip install scikit-surprise

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-surprise
  Using cached scikit_surprise-1.1.4-cp312-cp312-win_amd64.whl
Requirement already satisfied: joblib>=1.2.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise) (1.13.1)
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script surprise.exe is installed in 'C:\Users\asus\AppData\Roaming\Python\Python312\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [9]:
from surprise import Dataset, Reader
from surprise import SVD
from surprise.model_selection import train_test_split
from surprise import accuracy

In [12]:
reader = Reader(rating_scale=(0, 5))  
data = Dataset.load_from_df(merged[['userId', 'title', 'rating']], reader)

In [13]:
trainset, testset = train_test_split(data, test_size=0.2)

In [14]:
svd = SVD()
svd.fit(trainset)

In [15]:
predictions = svd.test(testset)

In [16]:
rmse = accuracy.rmse(predictions)
print(f'RMSE: {rmse}')

RMSE: 0.7720
RMSE: 0.7719512376026719

In [20]:
import joblib

joblib.dump(svd, 'svd_model.pkl')

['svd_model.pkl']